.errorMessage{
    font-min-size: 30px;
    color:red;
}
.summaryField{
    line-height: 1.5;
}
.picture3in1{
    min-width:600px;
    min-height: 30px;
}
.headerParagraph{
    font-size:16px;
}
.fileToUpload{
    width:fit-content;
    min-height:fit-content;
    max-height: 90px;
}
.addOrRemoveFromCategory{

}
